<div class="main-navigation">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav me-auto">
                    <!-- Home -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <i class="fas fa-home me-1"></i>
                            Home
                        </a>
                    </li>
                    
                    <!-- Products Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bicycle me-1"></i>
                            Products
                        </a>
                        <ul class="dropdown-menu mega-menu">
                            <li class="dropdown-header">
                                <i class="fas fa-bicycle me-2"></i>
                                Bike Categories
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-mountain me-2"></i>
                                    Mountain Bikes
                                    <span class="badge bg-secondary ms-auto">New</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-road me-2"></i>
                                    Road Bikes
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-bolt me-2"></i>
                                    Electric Bikes
                                    <span class="badge bg-success ms-auto">Popular</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-child me-2"></i>
                                    Kids Bikes
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="dropdown-header">
                                <i class="fas fa-tools me-2"></i>
                                Accessories
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-hard-hat me-2"></i>
                                    Helmets & Safety
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-tshirt me-2"></i>
                                    Apparel
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-wrench me-2"></i>
                                    Tools & Maintenance
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    <!-- Brands -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="brandsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-star me-1"></i>
                            Brands
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-award me-2"></i>
                                    Trek
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-award me-2"></i>
                                    Specialized
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-award me-2"></i>
                                    Giant
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-award me-2"></i>
                                    Cannondale
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list me-2"></i>
                                    View All Brands
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    <!-- Services -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-tools me-1"></i>
                            Services
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-wrench me-2"></i>
                                    Bike Repair
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cog me-2"></i>
                                    Bike Maintenance
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-search me-2"></i>
                                    Bike Fitting
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-shipping-fast me-2"></i>
                                    Assembly Service
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    <!-- About -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-info-circle me-1"></i>
                            About
                        </a>
                    </li>
                    
                    <!-- Contact -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-envelope me-1"></i>
                            Contact
                        </a>
                    </li>
                </ul>
                
                <!-- Right Side Items -->
                <ul class="navbar-nav ms-auto">
                    <!-- Special Offers -->
                    <li class="nav-item">
                        <a class="nav-link special-offer" href="#">
                            <i class="fas fa-fire me-1"></i>
                            <span class="d-none d-lg-inline">Special Offers</span>
                            <span class="badge bg-danger ms-1">Hot</span>
                        </a>
                    </li>
                    
                    <!-- Store Locator -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-map-marker-alt me-1"></i>
                            <span class="d-none d-lg-inline">Store Locator</span>
                        </a>
                    </li>
                    
                    <!-- Help -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-question-circle me-1"></i>
                            <span class="d-none d-lg-inline">Help</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
