<div class="mobile-header d-lg-none">
    <div class="container-fluid">
        <div class="row align-items-center py-2">
            <div class="col-6">
                <a href="{% url 'home' %}" class="mobile-brand d-flex align-items-center text-decoration-none">
                    <i class="fas fa-bicycle me-2 text-primary-custom"></i>
                    <span class="fw-bold text-primary-custom">BuyBike</span>
                </a>
            </div>
            
            <div class="col-6 d-flex justify-content-end align-items-center">
                <button class="btn btn-link mobile-search-toggle me-2" type="button" data-bs-toggle="collapse" data-bs-target="#mobileSearch">
                    <i class="fas fa-search text-primary-custom"></i>
                </button>
                
                <div class="dropdown me-2">
                    <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <i class="fas fa-user-circle text-primary-custom"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="#"><i class="fas fa-cog me-2"></i>Product Management</a></li>
                                <li><hr class="dropdown-divider"></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="#"><i class="fas fa-user me-2"></i>My Profile</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fas fa-box me-2"></i>My Orders</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt me-2"></i>Logout</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="#"><i class="fas fa-user-plus me-2"></i>Register</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fas fa-sign-in-alt me-2"></i>Login</a></li>
                        {% endif %}
                    </ul>
                </div>
                
                <a href="#" class="btn btn-link position-relative text-decoration-none">
                    <i class="fas fa-shopping-cart text-primary-custom"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-count">
                        {% if grand_total %}{{ grand_total|floatformat:2 }}€{% else %}0{% endif %}
                    </span>
                </a>
            </div>
        </div>
        
        <div class="collapse" id="mobileSearch">
            <div class="row py-2">
                <div class="col-12">
                    <form class="d-flex" role="search">
                        <div class="input-group">
                            <input class="form-control mobile-search-input" type="search" placeholder="Search products...">
                            <button class="btn btn-primary-custom" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-nav d-lg-none">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="mobileNavMenu">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">
                        <i class="fas fa-home me-2"></i>Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#mobileProductsMenu">
                        <i class="fas fa-bicycle me-2"></i>Products
                        <i class="fas fa-chevron-down ms-auto"></i>
                    </a>
                    <div class="collapse" id="mobileProductsMenu">
                        <div class="mobile-submenu">
                            <a href="#" class="mobile-submenu-item">
                                <i class="fas fa-mountain me-2"></i>Mountain Bikes
                            </a>
                            <a href="#" class="mobile-submenu-item">
                                <i class="fas fa-road me-2"></i>Road Bikes
                            </a>
                            <a href="#" class="mobile-submenu-item">
                                <i class="fas fa-bolt me-2"></i>Electric Bikes
                            </a>
                            <a href="#" class="mobile-submenu-item">
                                <i class="fas fa-tools me-2"></i>Accessories
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-info-circle me-2"></i>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-envelope me-2"></i>Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-blog me-2"></i>Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-phone me-2"></i>Support</a>
                </li>
            </ul>
        </div>
    </div>
</div>